<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" href="utilities/stil_prova.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script type="text/javascript" src="utilities/WebFunctions.js" sync="sync"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
crossorigin="anonymous"/>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
	<div id= "content" class="container">
	<div class="header clearfix">
	    <nav id="main_menu" style="margin-top: 20px;">
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="index.php">Home  <span class="glyphicon glyphicon-home btn-sm" aria-hidden="true"></span></a></li>
            <li role="presentation"><a href="faq.php">FAQ  <span class="glyphicon glyphicon-question-sign btn-sm" aria-hidden="true"></span></a></li>
          </ul>
 		</nav>
	    <div class="page-header" id="headerPage">
                <img src="utilities/AlbalogoReports.png" alt="LogoN" id="Logo" height="95" width="115">
		  <h1>Frequently Asked Questions</h1>
               
		</div>
	</div>

       <div class="row">
        <div >
          <h3>Heading</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div >
          <h3>Heading</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div >
          <h3>Heading</h3>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>



	</div>

</body>