<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta charset="utf-8"/>

<link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>

<link rel="stylesheet" href="/static/utilities/reportStyle.css"/>

<script src="/static/utilities/jquery/1.12.1/jquery.min.js"></script>
<link rel="stylesheet"
      href="/static/utilities/bootstrap/3.3.7/css/bootstrap.min.css"
      />
<script src="/static/utilities/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/static/utilities/ws.js"></script>
<script type="text/javascript" src="/static/utilities/WebFunctions.js" sync="sync"></script>
<script src="/static/utilities/chartjs/Chart.bundle.js"></script>
<script src="/static/utilities/chartjs/utils.js"></script>

<style>
    canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
</style>

</head>
<body>
    <div id= "content" class="container">
        <div class="header clearfix">
            <nav id="main_menu" style="margin-top: 20px;">
                    <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active" data-toggle="modal" data-target="#myModal" ><a href="#">Add New<span class="glyphicon glyphicon-plus btn-sm" aria-hidden="true"></span></a></li>

            <!--<li role="presentation"><a href="faq.html">FAQ  <span
                class="glyphicon glyphicon-question-sign btn-sm" aria-hidden="true"></span></a></li>
            </ul> -->
            </nav>
            <div class="page-header" id="headerPage">
                        <img src="/static/AlbalogoReports.png" alt="LogoN" id="Logo" height="95" width="115">
                    <h1 id="first_Title"> </h1>

            </div>
        </div>
    </div>
</body>
